.login{
  width: 100%;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 3px;

  &__container{
    padding: 15px;
    background-color: #fff;
    height: 100%;
    flex:1 0 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
